.headerDiv{
    background-color: #3F64B5;
    height: 86px;
    display: flex;
    padding: 0 83px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.headerDiv img{
    margin: 3px 0;
    width: 248px;
    height: 80px;
    margin-right: 207px;
}

ul{
    display: flex;
    margin: 24px 0 17px 0;
    justify-content: space-evenly;
    line-height: 86px;
}

ul li{
    display: inline-block;
    margin-right: 78px;
}


ul li a{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

ul li a:hover{
    color: rgb(232, 240, 123);
    text-decoration: underline;
}

.headerDiv button{
    border: none;
    background-color: #ffffff;
    width: 119px;
    height: 43px;
    margin-top: 20px;
    border-radius: 18px;
    font-size: 25px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.headerDiv button:hover{
    color: rgb(209, 221, 47);
    cursor: pointer;
}